.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.mini_container {
  border-radius: 5px;
  background-color:	#000000;
 /*  #f9f9f9;  */
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px #000000;
}

#confirmed_css {
  flex: 1;
}

#confirmed {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#recovered_css {
  flex: 1;
}
#deceased_css {
  flex: 1;
}
#mortality_css {
  flex: 1;
}
#recovery_css {
  flex: 1;
}

#right-column {
  display: flex;
  flex-direction: column;
}

.container-display {
  display: flex;
}


#country-selector {
  width: 100%;
  line-height: .7;
}

.countries-dropdown-container  {
  /* margin: 2.5vh 0; */
  margin: 0;
  text-align: center;
  /* padding-bottom: 1vh; */
}

/*----------------------------

/* Page Body */
#page-content.desktop { 
  padding: 0 2.5%;
  padding-top: 7.5vh;
  margin: 0 !important;
}

.top-bar-content-col {
  margin: 4vh 0 3.5vh 0;
  padding: 0;
}

/* Applies to all Cards 🎴 */
.card-body {
  background-color: var(--card-bg-color);
  padding: 1vw;
  border: none;
  border-radius: var(--border-radius);
  /* box-shadow: 0px 5px rgba(0, 0, 0, 0.2); */
}

.tab--selected {
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, .4); */
  z-index: 100;
  position: relative;
  /* background-color: #1F242D; */
  border-bottom: 1px solid #f4f4f4 !important;
}

.tab:hover {
  color: rgb(199, 199, 199) !important;
}


#mobile-feed-tabs-styled-with-inline {
  padding-bottom: 12px;
}

/* get rid of tab padding */
.card-header {
  max-width:100%;
  padding: 0 0 .75rem 0;
}



/* cards inside the sidebar for newsfeed */

.left-col-feed-cards-text .tweet-item.list-group-item {
  background-color: var(--card-bg-color);
}

.left-col-feed-cards-text .list-group .list-group-flush li {
  background-color: none
}
.news-item.list-group-item{
  background-color: #000000;
  border: none;
}


.left-col-news-feed-content .left-tabs{
  font-size: var(--font-size-table-heading);
}

.news-item{
  border-bottom: 1px solid rgb(0,0,0) !important;
  padding: 0;
  margin: 0;
}

.news-item:hover, .tweet-item:hover {
  text-decoration: none !important;
}

.news-item-container {
  padding: 0 1vw;
  margin: 1vw 0;
  line-height: 1.35;
  color: var(--nav-font-color);
}

/* News Acticle Headline and source */

.news-txt-headline, .tweet-text {
  font-size: var(--font-size-feed-body);
  font-weight: normal;
  line-height: 1.35;
  margin-bottom: 0.5vw
}

.news-txt-by-dt, .tweet-dt{
  font-size: var(--font-size-feed-author);
}

.tab.left-news-tab {
  border-top-left-radius: 0.8rem;
}

.tab.left-twitter-tab.tab--selected {
  border-top-right-radius: 0.9rem;
}

.left-twitter-tab {
  border-top-right-radius: 0.9rem;
} 

/* overflow disable scroll bar */
.left-col-feed-cards-text {
  overflow-y: scroll;
  height: 73.5vh;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.left-col-feed-cards-text::-webkit-scrollbar { 
  display: none;  
}


.left-col-news-feed-content {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}
.left-col-news-feed-content::-webkit-scrollbar { 
  display: none; 
}

.left-col-news-feed-content .card-body {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  /* padding-left: 0;
  padding-right: 0; */
}

.left-col-news-feed-content .card-body::-webkit-scrollbar { 
  display: none;  
}

.left-col-news-feed-content {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.left-col-news-feed-content::-webkit-scrollbar { 
  display: none;  
}

.right-col-news-feed-content.col-2 {
  margin-left: 0.3rem;
}

.stats-table-col.card-body {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.6vh;
}

#stats-content {
  margin-bottom: 0;
}

.stats-table-div.card{
  height: calc(61vh + 2.55vw);
  max-height: calc(var(--max-height-sidebar) + 3.3vw);
}

.dash-table-container .row{
  margin: 0 auto; 
}

.column-header--sort{
  float: none !important;
}

.stats-table-col .card-body{
  overflow: hidden;
}

.dash-spreadsheet-container table {
  /* Change the default color of hover and Selected objects on chart */
  --accent: none !important;
  --hover: none !important;
  --selected-background: none !important;
  --selected-color: none !important;
}

.dash-table-container .row::-webkit-scrollbar {
  display: none;
}

/* .dash-freeze-top .dash-list-view .dash-no-filter  */
.dash-spreadsheet-inner.dash-spreadsheet.dash-freeze-top.dash-list-view.dash-no-filter  {
  min-height: 99vh !important;
}

.stats-table {
  /* margin-right: 1rem; */
  overflow-y: scroll;
  height: 62vh;
  
  /* Disable scroll bar */
  scroll-behavior: smooth;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

/* disable scroll bar */
.stats-table::-webkit-scrollbar { 
  display: none; 
}

.right-col-stats-content.col-2 .card-body {
  padding-top: 0rem;
  padding-bottom:0;
}

.right-col-stats-content.col-2 .column-header-name {
  font-family: Lato, sans-serif;
  font-size: var(--font-size-stats-table-heading);
  font-weight: 500;
  color: var(--nav-font-color);
}

.dash-cell.column-0 {
  padding-left: 2rem;
}

.dash-table-container td {
  background-clip: padding-box;
  padding: 1rem;
  overflow-x: visible;
  white-space: nowrap;
  height: 30px;
  text-align: left;
}

.dash-cell.column-0 .stats-table-div td {
  /* text-align: left !important; */
  /* padding-left: 0.2rem; */
}

.right-tabs-last-updated-text {
  padding 1vh 0 1vh 0;
  margin: 0;
  font-size: var(--font-size-last-updated);
  background: #010915;
}

.right-tabs-last-updated-text.card-footer {
  text-align: right;
  padding: 1.5vh;
}

.card-footer:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

/* overflow disable scroll bar */
.right-col-feed-cards-text {
  overflow-y: scroll;
  /* Match the height except minus the height of the "last updated" text */
  height: calc(60vh - 1rem - 16px);
  scroll-behavior: smooth;
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  background: none;
  background-color: none;
}

.right-col-feed-cards-text::-webkit-scrollbar { 
  display: none; 
}

.right-col-stats-content .col-2 .card .card-body::-webkit-scrollbar { 
  display: none;  
}

.right-col-news-feed-content {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.right-col-news-feed-content::-webkit-scrollbar { 
  display: none;  
}

.stats-table-div .card-body{
  overflow-y: scroll;
  overflow-x: hidden;
  
  scroll-behavior: smooth;
  -ms-overflow-style: none; 
  scrollbar-width: none;

  height: 59vh;
}

/* disable scroll bar */
.stats-table-div .card-body::-webkit-scrollbar { 
  display: none;  
}

.right-col-stats-content .col-2 .card .card-body {
  /* height: calc(60vh) !important; */
  overflow: scroll;
  padding-top: 0;
  
}

.right-col-stats-content.col-2 .row.row-0, .right-col-stats-content.col-2 .row.row-1 {
  margin: 0;
  padding: 0 .75vw;
}

.right-col-stats-content.col-2 .row.row-0 {
  padding-top: 1vh ;
}

.centered {
 /* text-align: center;
  padding: 20px 0; */
  margin-left: initial;
  margin-right: auto;
  width: 60%;
}

.rightcorner {
  text-align: center;
font-family: fantasy;
margin-top: 10px;

}
